[submodule "libs/ttr"]
	path = libs/ttr
	url = https://github.com/nsobadzhiev/TTR.git
[submodule "libs/kissXML"]
	path = libs/kissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "libs/zipzap"]
	path = libs/zipzap
	url = https://github.com/pixelglow/zipzap.git
[submodule "libs/hpple"]
	path = libs/hpple
	url = https://github.com/topfunky/hpple.git
[submodule "libs/ASIHTTPRequest"]
	path = libs/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
